:root {
  --ff-main: "Ubuntu", san-serif, serif;
  --footer-header-txt-color: #ffffff;
  --header-bg-clr: rgb(42, 146, 243);
  --footer-bf-clr: rgb(42, 146, 243);
  --form-bf-crl: rgb(235, 235, 235);
  --form-btn-bg-clr: rgb(253, 176, 75);
  --form-btn-txt-clr: white;
  --russian-violet: #260f41ff;
  --hot-magenta: #ff16cdff;
  --mellow-apricot: #fdbb68ff;
  --middle-red: rgb(255, 91, 41);
  --russian-violet-2: #3d225dff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-main);
  background-color: var(--russian-violet);
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* HEADER */
.header-container {
  width: 98%;
  min-width: max-content;
  margin: 1rem auto;
  background-color: var(--russian-violet-2);
  padding: 1rem 2rem;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-left: 4px solid rebeccapurple;
  border-right: 4px solid rebeccapurple;
}

.header-title,
.header-subtitle {
  color: var(--footer-header-txt-color);
}

.header-title {
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
}

/* MAIN */
main {
  padding: 1rem;
  position: relative;
  flex: 1;
  width: 100vw;
  overflow: auto;
  /* padding: 1rem; */
  background-color: var(--russian-violet);
}

/* FOOTER */
footer {
  width: 98%;
  min-width: max-content;
  margin: 1rem auto;
  border-radius: 200px;

  bottom: 0;
  padding: 1rem;

  font-size: 1rem;
  color: var(--footer-header-txt-color);

  background-color: var(--russian-violet-2);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  border-left: 4px solid rebeccapurple;
  border-right: 4px solid rebeccapurple;
}

.footer-logo img {
  filter: invert(100%);
}

@media (min-width: 40rem) {
  .header-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
