:root {
  --ff-main: "Ubuntu", san-serif, serif;
  --footer-header-txt-color: white;
  --header-bg-clr: rgb(42, 146, 243);
  --footer-bf-clr: rgb(42, 146, 243);
  --form-bf-crl: rgb(235, 235, 235);
  --form-btn-bg-clr: rgb(253, 176, 75);
  --form-btn-txt-clr: white;
  --russian-violet: #260f41ff;
  --hot-magenta: #ff16cdff;
  --mellow-apricot: #fdbb68ff;
  --middle-red: #fe8d6cff;
  --russian-violet-2: #3d225dff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-main);

  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  background-color: var(--russian-violet);
  padding: 1rem 2rem;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: var(--footer-header-txt-color);
}

/* MAIN */
main {
  flex: 1;
  overflow: auto;
  padding: 1rem;
  background-color: var(--russian-violet);
}

/* FOOTER */
footer {
  bottom: 0;
  padding: 1rem;

  font-size: 1rem;
  color: var(--footer-header-txt-color);

  background-color: var(--russian-violet);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.footer-logo img {
  filter: invert(100%);
}
