/* FORM */

.book-form {
  /* Form position */
  position: absolute;
  z-index: 20;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /* Form sizing */
  padding: 4rem 1.5rem;
  background-color: var(--russian-violet);
  border-radius: 5px;

  /*Form Container Style */
  border-radius: 25px;
  box-shadow: 1px 1px 10px black;

  /* Form Children Potition */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;

  border-left: 4px solid rebeccapurple;
  border-right: 4px solid rebeccapurple;
}

.book-form__title {
  font-weight: 500;
  font-size: 1.75rem;
  color: var(--footer-header-txt-color);
}

.book-form.visible {
  display: flex;
}

input {
  font-size: 1rem;
  padding: 1.5rem 1rem;
  background-color: var(--russian-violet-2);
  border-style: none;
  border-radius: 25px;
  color: var(--footer-header-txt-color);
}

.book-form__checkbox {
  display: flex;
}
/* CheckBox Style */
label[for="book-read"] {
  font-size: 1rem;
  color: var(--footer-header-txt-color);
}
input[type="checkbox"] {
  margin-left: 1rem;
  width: 25px;
  height: 25px;
}

/* Book Form Button */
.button-submit {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  border-style: none;
  background-color: var(--hot-magenta);

  color: var(--form-btn-txt-clr);
  transition: 0.5s;
}

.button-submit::after {
  content: url(/icons/book-plus.svg);
  transform: scale(1.5);
  filter: invert(100%);
  margin: 56px auto 50px;
}

.button-submit:hover {
  background-color: var(--middle-red);
  transform: scale(1.1);
}
