.books-list__item {
  padding: 1rem;
  row-gap: 0.5rem;

  border-radius: 35px;
  border-left: 4px solid rebeccapurple;
  border-right: 4px solid rebeccapurple;
  border-top: 1px solid rebeccapurple;
  border-bottom: 1px solid rebeccapurple;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.253);
}

.book-list__item-container {
  border-radius: 20px;
  background-color: var(--russian-violet-2);
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-content: center;
  align-items: center;
  padding: 1rem;
  row-gap: 0.25rem;
  height: 100%;
}

.book-list__item-title {
  font-size: 1.5rem;
  color: rgb(202, 185, 219);
  margin-left: 0.5rem;
}

.book-list__item-author {
  display: flex;
  font-size: 0.875rem;
  margin-left: 0.5rem;
  color: rgb(231, 133, 116);
}

.stars-container {
  margin-left: 1rem;
}

.rating-stars {
  /* grid-column: 2/3;
  grid-row: 3/4; */
  height: 1rem;
  filter: invert(100%);
}

.books-list__item:hover {
  transition: 0.5s;
  transform: scale(1.01);
  box-shadow: 0px 0px 10px 1px rgb(12, 163, 223);
}
